@media only screen and (max-width: 768px) {
  body {
      font-size: 14px;
      font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight:100;
  }
  .prod-tile{
    min-width: 20px;
    min-height: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
      font-size: 18px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 400;
  }
  .prod-tile{
    min-width: 40px;
    min-height: 40px;
  }
}


.top-ribbon {
background-color: white; /* Background color of the ribbon */
color: #141414; /* Text color */
padding: 10px; /* Padding around the elements */
position: fixed; /* Fixed positioning to stay at the top */
top: 0; /* Align the ribbon to the top */
left: 0; /* Align the ribbon to the left */
height: 40px;
width: 100%; /* Full width */
margin-bottom: 10px;

z-index: 1000; /* Ensure the ribbon stays on top of other content */
display: flex; /* Use flexbox for layout */
align-items: center; /* Center align items vertically */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add bottom shadow */
justify-content:left; /* Distribute items evenly along the main axis*/
display:flex;
}

.bottom-ribbon {
  background-color: rgb(1, 8, 22); /* Background color of the ribbon */
  color: #ffffff; /* Text color */
  padding: 0px; /* Padding around the elements */
  margin-top: 20px;
  position: relative; 
  justify-content:last baseline;
  bottom: 0px; 
  left: 0px;
  height: 60px;
  width: 100%; /* Full width */

  z-index: 1000; /* Ensure the ribbon stays on top of other content */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add bottom shadow */
  justify-content:flex-start; /* Distribute items evenly along the main axis*/

  }
  

.logo-icon {
  cursor: pointer; /* Show pointer cursor on hover */
  position: absolute;
  
  }
.menu-icon {
cursor: pointer; /* Show pointer cursor on hover */

}
.title {
  position: relative;
  
    font-size: 1.5em; /* Adjust the font size of the title */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 0px;
    width : auto;
    text-align:left;
    white-space: normal;
    margin-bottom:10px;
}

.menu-container {
  display: flex;
  position: absolute;
  right:10px;
  justify-content: right;
  margin-top:30px;
  width:500px;
}
.menu-links {
display: flex; /* Use flexbox for layout */
list-style: none; /* Remove default list styling */
font-size: 0.8em;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
color: black;
margin-top: 5px;
margin-right:10px;
align-self:center;
width : auto;
text-align:center;
white-space: normal;

}

.menu-links-bot {
  display: flex; /* Use flexbox for layout */
  list-style: none; /* Remove default list styling */
  font-size: 0.8em;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: black;
  margin-bottom: 20px;


  }
.menu-links a{
text-decoration: none; /* Remove the underline */
  color: #1f1f1f; /* Set the color of the links */

}
.menu-links b{
  text-decoration: none; /* Remove the underline */
    color: #ffffff; /* Set the color of the links */
    font-weight:100;
  }
.menu-links li {
margin-right: 5px; /* Add spacing between menu links */
margin-left: 5px;
font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:100;
}
.menu-links li:last-child {
margin-right: 10px; /* Remove margin from last menu link */
font-size:1em;
}

.menu-icon img{
    margin-top: 5px;
    width:30px;
    height: auto;
}

.logo img {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.banner-section {
  position: relative;
    width: 100%;
    height: 400px; /* Set the height of the banner section */
    padding-top: 20px;
    margin-top:20px;
    display: flex;
    justify-content: center; /* Center the banner horizontally */
    align-items: center; /* Center the banner vertically */
    margin-bottom:10px;
    
  }
.banner {
    width: 100%; 
    height: 60%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    position: relative;
    padding-bottom: 25px;
    padding-top: 15px;
    background-color:#0C1622;
    border-radius: 10px;
    
    
  }
  
  .banner img {
    width: 100%; 
    height: 100%; 
    margin: auto; 
    object-fit: cover;
 
  }

  .pagination-dots {
    margin-top: 10px;
    text-align: center;
    position: absolute; /* Position the pagination dots relative to the banner container */
    bottom: 0px; /* Adjust the distance from the bottom of the banner container */
    left: 50%; /* Center the pagination dots horizontally */
    transform: translateX(-50%); /* Center the pagination dots horizontally */
  }
  
  .pagination-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999; /* Color for inactive dots */
    margin: 0 10px;
    margin-bottom: 10px;
    
  }
  
  .pagination-dot.active {
    background-color: #ee3f09; /* Color for active dot */
  }
  
.intro {
    position:relative;
    display:flex;
    background-color:  rgb(1, 4, 10);
    height: auto;
    margin-top:0px;
    border-radius: 10px;
    padding: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.container {
  position:relative;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-content {
    margin-bottom: 0px;
    width: 70%; /* Set the width of the intro content */
    float: left; /* Float the content to the left */
    padding-right: 20px; /* Add some spacing */
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.intro-content h2 {
  font-size: 1.3em;
  font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:100;
  margin-bottom: 0px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.intro-content p {
  font-size: 1em;
  font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:100;
  margin-bottom: 20px;
  font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:justify
}

.cards {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 70%; /* Set the width of the cards */
    bottom:10px;
    
}

.card {
    background-color: rgb(224, 236, 247,0);
    background-color: rgba(red, green, blue, 0); /*transparant color*/
    color: whitesmoke;
    border:white;

    border-radius: 10px;
    padding: 5px;

    width:100%;
    height:20px;
    margin-right: 20px; /* Add spacing between the cards */
    /*box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* Set position to relative for absolute positioning */
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content:left;
    overflow:hidden;
}

.card h3 {
    font-size: 0.9em;
    font-family:Cambria Math,;
    position:relative;
    left:0;
    
    margin-top:0;
    margin-bottom: 0px;
    font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:400;
    justify-content:left;
    text-align: left;

    
    /*color: rgb(247, 200, 47);*/
    color:#141414;
    color:white;
}

.btn {
    position: absolute; /* Set position to absolute for precise placement */
    margin-left: 50%;

    background-color: #FF3901;
    color: white;
    padding-inline: 0px;
    width:22px;
    height: 22px;
    border-radius: 11px;
    text-decoration: none;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    
}
.btn img{
  width: 22px;
  height: 22px;
  justify-content:center;
  align-items:center;
}

.canvas-container {
  position: relative; /* Set position to relative for absolute positioning */
  display: flex;
}

.canvas {
  position: absolute; /* Set position to absolute for precise placement */
  top: 10px; /* Position canvas 20px from the top */
  right: 5px; /* Position canvas 20px from the right */
  /*border: 2px solid black; /* Add border for visualization */
}

.tile-section {
  display: flex;
  justify-content: space-around;
  margin-top: 0px; /* Adjust margin as needed */
  flex-wrap: wrap;
}

.prod-tile {
  flex: 1 1 100;
  flex-direction: column;
  width: 70px; /* Set width of each tile */
  height: 70px; /* Set height of each tile */

  background-color: #ddd; /* Set background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:10px;
}

.prod-tile a {
  text-decoration: none;
  color: #333; /* Set color of text */
  font-size: 0.9em;
  justify-content:center;

  display: block;
}
.prod-tile img {
  max-width: 60%;
  max-height: 60%;
  position:relative;
  margin-left:12px;
  margin-top:5px;
  margin-bottom:0;
  object-fit: cover; /* Ensure the image covers the entire space */
  justify-content:first baseline;
  align-items: center;
}
.prod-tile h3 {
  font-size: 0.8em;
  font-family:Cambria Math,;
  margin-bottom: 00px;
  font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:100;
  justify-content:center;
  align-items:center;
  text-align:center;
  
  /*color: rgb(247, 200, 47);*/
  color:#141414;
}

.prod-tile:hover {
  background-color: #71ddfd; /* Change background color on hover */
}

.prod-tile p {
  margin: 0;
  padding: 5px;
}

h4 {
  font-size: 1.3em;
    font-family:Cambria Math, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:100;
    margin-top:30px;
    margin-bottom: 10px;
    color: rgb(4, 18, 37);

}

.banner1 {
  width: 100%; /* Set the width of the banner container */
  height: auto; /* Set the height of the banner container */
  display: flex; /* Use flexbox to center the image horizontally and vertically */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  overflow: hidden; /* Hide any overflow content */
  position: relative;
  background-color:#0C1622;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom:20px;
  
}

.banner1 img{
  max-width: 100%; /* Ensure the image does not exceed the width of the container */
  max-height: 100%; /* Ensure the image does not exceed the height of the container */
  border-radius: 10px;
  padding: 10px;
  height: auto;
  display: block;
  margin: auto;
  object-fit:cover;
}

.banner2 {
  width: 100%;
  height: auto; /* Auto height to fit content */
  display: grid; /* Use CSS grid */
  grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Adjust based on image size */
  margin-top: 20px;
  margin-bottom:20px;
  gap: 10px; /* Adjust gap between images */
  justify-items: center;
  justify-content: space-around;
  align-items: center; /* Center images vertically */
  background-color: #0C1622;
  border-radius: 10px;
  
}

.banner2 img {
  width:80%; /* Set image width to fill grid cell */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 10px;
  justify-items: left;
  justify-content: space-around;
}