* {
  box-sizing: border-box;
}




body {
  font-family: 'DM Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  place-items: center;
}


@media only screen and (max-width: 768px) {
  body {
      font-size: 12px;
      font-weight: 400;
      
  }
  .banner img, banner1 img{
    width: 100%;
  }

}

@media only screen and (min-width: 769px) {
  body {
      font-size: 18px;
      
      font-weight: 200;
  }
  .banner img, banner1 img{
    width: 100%;
  }

}


.top-ribbon {
background-color: white; /* Background color of the ribbon */
background-color: rgb(0, 0, 7);
display:flex;
color: #141414; /* Text color */
padding: 10px; /* Padding around the elements */
position: fixed; /* Fixed positioning to stay at the top */
top: 0; /* Align the ribbon to the top */
left: 0; /* Align the ribbon to the left */
height: 60px;
width: 100%; /* Full width */
margin-bottom: 10px;

z-index: 1000; /* Ensure the ribbon stays on top of other content */
display: flex; /* Use flexbox for layout */
align-items: center; /* Center align items vertically */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add bottom shadow */
justify-content:left; /* Distribute items evenly along the main axis*/

padding-left:10px;

}

.bottom-ribbon {
  background-color: rgb(1, 8, 22); /* Background color of the ribbon */
  background-color: rgb(0, 0, 7);
  color: white; /* Text color */
  padding: 10px; /* Padding around the elements */
  margin-top: 0px;
  padding-left:10px;
  position: relative; 
  justify-content:left;
  bottom: 0px; 
  left: 0px;
  height: 60px;
  width: 100%;


  z-index: 1000; /* Ensure the ribbon stays on top of other content */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add bottom shadow */
  justify-content:left; /* Distribute items evenly along the main axis*/
  padding-left:10px;

  }
  
.bottom-ribbon.fixed{
  position:fixed;
}
  

.logo-icon {
  cursor: pointer; /* Show pointer cursor on hover */
  position: relative;

  
  }
.menu-icon {
cursor: pointer; /* Show pointer cursor on hover */

}
.title {
  position: relative;
  color:white;
  
    font-size: 1.5em; /* Adjust the font size of the title */
    list-style: none;
    text-decoration:none;
    font-family:DM Sans;
    margin-left: 10px;
    width : auto;
    text-align:left;
    white-space: normal;
    margin-bottom:10px;
    font-weight:200;
}

.menu-container {
  display: flex;
  position: absolute;
  right:20px;
  justify-content: right;
  margin-top:30px;
 
  width:500px;
}

.menu-links {
display: flex; /* Use flexbox for layout */
list-style: none; /* Remove default list styling */
font-size: 0.9em;
font-family:DM Sans;
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
color: white;
margin-top: 5px;

align-self:center;
width : auto;
text-align:center;
white-space: normal;
font-weight:200;

}

.menu-links-bot {
  display: flex; /* Use flexbox for layout */
  list-style: none; /* Remove default list styling */
  font-size: 0.8em;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: black;
  margin-bottom: 20px;


  }
.menu-links a{
text-decoration: none; /* Remove the underline */
  color: #1f1f1f; /* Set the color of the links */
  color:white;
  margin-left:10px;
  font-weight:200;

}
.menu-links b{
  text-decoration: none; /* Remove the underline */
    color: #ffffff; /* Set the color of the links */
    font-weight:100;
    margin-left:10px;
    font-weight:200;
  }
.menu-links li {
margin-right: 5px; /* Add spacing between menu links */
font-family:DM Sans;
    font-weight:100;
}
.menu-links li:last-child {
margin-right: 10px; /* Remove margin from last menu link */
font-size:1em;
}

.menu-icon img{
    margin-top: 5px;
    width:30px;
    height: auto;
}

.logo img {
    width: 40px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom:10px;
}

.banner-section {
  position: relative;
  width:calc(120%);
  height: 400px; /* Set the height of the banner section */
  display: flex;
  justify-content: center; /* Center the banner horizontally */
  align-items: center; /* Center the banner vertically */
  margin-bottom:0px;
  background-color:black;

  }

  .banner {
    max-height: 80vh;
    /*width: calc(100% + 40px);*/
    width:100%;
    
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    /*padding: 0 0 25px 0;*/
    background-color: rgb(0, 0, 7);
    border-radius: 0px;
    margin-top: 60px;

    padding:5px;
  }
  
  .banner img {
    display: flex;
    max-height: 75vh;
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
    margin: 10px auto;
    justify-content: center; 
    align-items: center; 
    margin-bottom:20px;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #FF5300;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

  .pagination-dots {
    margin-top: 10px;
    text-align: center;
    position: absolute; /* Position the pagination dots relative to the banner container */
    bottom: 0px; /* Adjust the distance from the bottom of the banner container */
    left: 50%; /* Center the pagination dots horizontally */
    transform: translateX(-50%); /* Center the pagination dots horizontally */
  }
  
  .pagination-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999; /* Color for inactive dots */
    margin: 0 10px;
    margin-bottom: 10px;
    
  }
  
  .pagination-dot.active {
    background-color: #ee3f09; /* Color for active dot */
  }
  
.intro {
    position:relative;
    display:flex;
    width:100%;
    
    background-color:black;
    background-color:  rgb(21, 21, 26);
    height: auto;
    margin-top:0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    flex-direction:column;
    justify-content:center;

    
}

.container {
    position:relative;
    display: flex;
    flex-direction:row;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    justify-content:space-around;
    align-items:center;
    min-width:fit-content;
}

.intro-content {
    margin-bottom: 0px;
    font-family:"DM Sans";
    width: 70%; /* Set the width of the intro content */
    float:left; /* Float the content to the left */
    justify-content:left; 
    padding-right: 30px; /* Add some spacing */
    color: white;
    font-weight:100;

    
}

.intro-content h2 {
  font-size: 1.8em;
  font-weight:100;
  margin-bottom: 0px;

}

.intro-content p {
  font-size: 0.9em;
  font-weight:normal;
  margin-bottom: 20px;

  text-align:justify
}

.cards {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 90%; /* Set the width of the cards */
    
}

.card {
    
    background-color: rgba(red, green, blue, 0); /*transparant color*/
    background-color: rgb(0, 0, 10,1);
    border:white;
    color: white;
    border-radius: 20px;
    border-width:5px;

    width:100%;
    height:30px;
    display:flex;
    margin:10px;
    border-left:20px;
    border-right:20px;
    /*box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* Set position to relative for absolute positioning */
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:15px;
    overflow:hidden;
    width:250px;
    min-width:fit-content;
}

.card:hover {
  background-color: #e0e0e0;
  background-color:rgb(201, 201, 201);
  transform: scale(1.0);
  color:black;
  font-weight:400;
  justify-content:center;
    align-items:center;
    text-align: center;
}

.card.active {
  
  
  background-color:#FF3901; /* Change to your preferred active state color */
  background-color:rgb(201, 201, 201);
  background-color:#FFC700;
  color:black;
  border:#FF3901;
  border-width:2px;
  transform: scale(1.0); /* Ensure the active card has the hover effect */
  font-weight:600;
  justify-content:center;
    align-items:center;
    text-align: center;
}


.card h4 {
    font-size: 0.8em;

    position:relative;
    
    margin-top:0;
    margin-bottom: 0px;

    font-weight:normal;
    justify-content:center;
    align-items:center;
    text-align: center;
  
    
    color:#141414;
    color:white;
}

.btn {
    position: relative; /* Set position to absolute for precise placement */

    background-color: #FF3901;
    color: white;
    padding-inline: 0px;
    width:22px;
    height: 22px;
    border-radius: 11px;
    text-decoration: none;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    
}
.btn img{
  width: 22px;
  height: 22px;
  justify-content:center;
  align-items:center;
}

.canvas-container {
  position: relative; /* Set position to relative for absolute positioning */
  display: flex;
}

.canvas {
  position: absolute; /* Set position to absolute for precise placement */
  top: 10px; /* Position canvas 20px from the top */
  right:10px; /* Position canvas 20px from the right */
  /*border: 2px solid black; /* Add border for visualization */
}

.tile-section {
  width:90%;
  display: flex;
  position: relative;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 0px; /* Adjust margin as needed */
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
}

.prod-tile {
  flex: 1 1 100;
  flex-direction: column;
  width: 70px; /* Set width of each tile */
  height: 70px; /* Set height of each tile */

  background-color: #ddd; /* Set background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin:10px;
  margin-bottom:20px;
}

.prod-tile a {
  text-decoration: none;
  color: #333; /* Set color of text */
  font-size: 0.9em;
  justify-content:center;

  display: block;
}
.prod-tile img {
  max-width: 80%;
  max-height: 80%;
  position:relative;
  margin-top:5px;
  object-fit: cover; /* Ensure the image covers the entire space */
  justify-content:center;
  align-items:first baseline;
}
.prod-tile h4 {
  font-size: 1.1em;
  font-family:DM Sans;
  margin-top: 10px;
  font-family:DM Sans;
  font-weight:200;
  justify-content:center;
  align-items:center;
  text-align:center;
  
  /*color: rgb(247, 200, 47);*/
  color:white
}

.prod-tile p {
  margin: 0;
  padding: 5px;
}

h4 {
  font-size: 1em;
  font-family:DM Sans;
    font-weight:200;
    margin-top:30px;
    margin-bottom: 10px;
    color: rgb(4, 18, 37);
    color:white;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    

}

.para {
  font-size: 0.9em;
  font-family:DM Sans;
    font-weight:100;
    color: rgb(255, 255, 255);

}

.email-link{
  color:inherit;
  text-decoration:none;

}

.email-link:hover, email-link:focus, email-link:active{
  color:inherit;
  text-decoration:none;
  
}


.banner1 {
  width: 100%; /* Set the width of the banner container */
  max-height: 700px; /* Set the height of the banner container */
  display: flex; /* Use flexbox to center the image horizontally and vertically */
  justify-content:center; /* Center the image horizontally */
  align-items:center; /* Center the image vertically */
  overflow: hidden; /* Hide any overflow content */
  position: relative;
  /*background-color:#0C1622;*/
  margin-top: 0px;
  margin-bottom:0px;
  
}



.banner1 img{
  max-width: 100%; /* Ensure the image does not exceed the width of the container */
  max-height: 70vh; /* Ensure the image does not exceed the height of the container */
  border-radius: 10px;
  padding: 0px;
  display: flex;
  margin: auto;
  object-fit:contain;
  justify-content: center; 
  align-items: center;
}

.banner2 {
  width: 100%;
  height: auto; /* Auto height to fit content */
  display: grid; /* Use CSS grid */
  grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Adjust based on image size */
  padding:20px;
  margin-top: 60px;
  margin-bottom:0px;
  gap: 10px; /* Adjust gap between images */
  justify-items: center;
  justify-content: space-around;
  align-items: center; /* Center images vertically */
  background-color: #0C1622;
  
}

.banner2 img {
  width:60%; /* Set image width to fill grid cell */
  height: 60%; /* Auto height to maintain aspect ratio */
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.para{
    margin-bottom: 10px;
    float: left; /* Float the content to the left */
    justify-content: justify; 
    padding-right: 50px; /* Add some spacing */
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-family:DM Sans;
    font-weight:400;
    
}

.domain {
    
  background-color: rgba(red, green, blue, 0); /*transparant color*/
  background-color: rgb(255, 0, 10,0);
  border:white;
  color: white;
  border-radius: 10px;
  border-width:5px;

  width:100%;
  height:20px;
  display:flex;
  margin:10px;
  /*box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: relative; /* Set position to relative for absolute positioning */
  justify-content:center;
  align-items:center;
  text-align: center;
}
.domain h4 {
  font-size: 0.9em;
  font-weight:200;

  position:relative;
  
  margin-top:0;
  margin-bottom: 0px;

  justify-content:center;
  align-items:center;
  text-align: center;
  
  color:#141414;
  color:white;
}
  


